# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# IDEs & editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Migration
prisma/migrations/

# Readme
README.md


