version: "3.9"
services:
  postgres:
    image: postgres:12
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: yourPassword@123
      POSTGRES_DB: postgres
    ports:
      - "5432:5432" 

  # judge0:
  #   image: judge0/judge0:latest
  #   container_name: judge0
  #   restart: always
  #   environment:
  #     - ENABLED_LANGUAGES=javascript,nodejs,python,cpp,java
  #     - AUTH_TOKEN=
  #     - LOG_LEVEL=info
  #   ports: 
  #     - "2358:2358"

  
  backend:
    build: .
    container_name: backend-skillcoder
    restart: always
    depends_on:
      - postgres
    environment:
      # DATABASE_URL: postgresql://sa:yourPassword@123@postgres:5432/postgres?schema=public
      DATABASE_URL: postgresql://sa:q50kBi2sDORir4Q8E3X8PTuYoC2KQkVj@dpg-d4a5os7pm1nc73clvve0-a.oregon-postgres.render.com/skillcoderdb
      NODE_ENV: development
      PORT: 5173
      # Nếu bạn có Firebase config
      FIREBASE_ADMIN_SDK_JSON: .app/dist/configs/skillcoder-b2fac-firebase-adminsdk-fbsvc-35333b9125.json
      FIREBASE_PROJECT_ID: skillcoder-b2fac
    ports:
      - "5173:5173"
    command: ["npm", "start"]

 